<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Jellyfish</title>
        <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
        <link rel="stylesheet" type="text/css" href="/static/CSS/contact.css">
    </head>
    <body>
        <header>
            <a href="/contact/" class="logo">Jellyfish</a>
            <ul>
                <li><a href="../back">Назад</a></li>
            </ul>
        </header>
        <section>
            <img src="/static/image/osnova.jpg" alt="" id="osnova">
            <div class="contactUs">
                <div class="box">
                    <!-- Форма -->
                    <div class="contact form">
                        <h3>Отправить сообщение</h3>
                        <form>
                            <div class="formBox">
                                <!-- Имя и Фамилия -->
                                <div class="row50">
                                    <div class="inputBox">
                                        <span>Имя</span>
                                        <input type="text" placeholder="Павел">
                                    </div>

                                    <div class="inputBox">
                                        <span>Фамилия</span>
                                        <input type="text" placeholder="Полуяхтов">
                                    </div>
                                </div>
                                <!-- Почта и телефон -->
                                <div class="row50">
                                    <div class="inputBox">
                                        <span>Почта</span>
                                        <input type="text" placeholder="poluakchotovpavel@gmail.com">
                                    </div>

                                    <div class="inputBox">
                                        <span>Телефон</span>
                                        <input type="text" placeholder="+7 950 563 98 76">
                                    </div>
                                </div>
                                <!-- Сообщение -->
                                <div class="row100">
                                    <div class="inputBox">
                                        <span>Сообщение</span>
                                        <textarea placeholder="Введите ваше сообщение..."></textarea>
                                    </div>
                                </div>
                                <!-- Кнопка -->
                                <div class="row100">
                                    <div class="inputBox">
                                        <input type="submit" value="Отправить">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Информационный блок -->
                    <div class="contact info">
                        <h3>Контактная информация</h3>
                        <div class="infoBox">
                            <div>
                                <span><ion-icon name="location"></ion-icon></span>
                                <p>st. Kraulya, 168, Yekaterinburg, Sverdlovsk region, Russia</p>
                            </div>
                            <div>
                                <span><ion-icon name="mail"></ion-icon></ion-icon>
                                </span>
                                <a href="maito:loremipsum@gmail.com">loremipsum@gmail.com</a>
                            </div>
                            <div>
                                <span><ion-icon name="call"></ion-icon></span>
                                <a href="tel:+79505639876">+7 950 563 98 76</a>
                            </div>
                            <!-- Социальные сети  -->
                            <ul class="sci">
                                <li><a href="https://ru-ru.facebook.com"><ion-icon name="logo-facebook"></ion-icon></a></li>
                                <li><a href="https://twitter.com/?lang=ru"><ion-icon name="logo-twitter"></ion-icon></a></li>
                                <li><a href="https://ru.linkedin.com"><ion-icon name="logo-linkedin"></ion-icon></a></li>
                                <li><a href="https://www.instagram.com"><ion-icon name="logo-instagram"></ion-icon></a></li>
                            </ul>
                        </div>
                    </div>

                    <!-- Карта -->
                    <div class="contact map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6174.143139801289!2d60.51552900744284!3d56.830689430297625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43c16fa4cafcf3bb%3A0x5f3e35aa95939958!2z0KPRgNCw0LvRjNGB0LrQuNC5INCT0L7RgdGD0LTQsNGA0YHRgtCy0LXQvdC90YvQuSDQoNCw0LTQuNC-0YLQtdGF0L3QuNGH0LXRgdC60LjQuSDQmtC-0LvQu9C10LTQti4!5e0!3m2!1sru!2sru!4v1636546253841!5m2!1sru!2sru" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>
            </div>
        </section>
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    </body>
</html>