<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Jellyfish</title>
        <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
        <link rel="stylesheet" type="text/css" href="/static/CSS/createChange.css">
    </head>
    <body>
        <header>
            <a href="../create/" class="logo">Jellyfish</a>
            <ul>
                <li><a href="../customers/">Назад</a></li>
            </ul>
        </header>
        <section>
            <img src="/static/image/osnova.jpg" alt="" id="osnova">
            <div class="blockForm">
                <h3>Данные клиента</h3>
                <div class="box">
                    <div class="infos">
                        <form method="post">
                            {% csrf_token %}
                            <div class="row50">
                                <div class="inputBox">
                                    <p>Имя:</p>
                                    <input class="input100" type="text" name="First_Name" required>
                                </div>
                                <div class="inputBox">
                                    <p>Фамилия:</p>
                                    <input class="input100" type="text" name="Last_Name" required>
                                </div>
                                <div class="inputBox">
                                    <p>Отчество:</p>
                                    <input class="input100" type="text" name="Middle_name" required>
                                </div>
                            </div>
                            <div class="row50">
                                <div class="inputBox">
                                    <p>Серия и номер паспорта:</p>
                                    <input class="input100" type="text" pattern="[0-9]{4} [0-9]{6}" name="Series_and_number" placeholder="7777 777777">
                                </div>
                                <div class="inputBox">
                                    <p>Телефон:</p>
                                    <input class="input100" type="tel" pattern="8[0-9]{10}" name="Telephone" placeholder="89505639876" required>
                                </div>
                                <div class="inputBox">
                                    <p>Почта:</p>
                                    <input class="input100" type="email" name="Email" placeholder="pavelpolu@mail.com" required>
                                </div>
                            </div>
                            <div class="row100">
                                <div class="inputBox"> 
                                    <input class="btn" type="submit" value="Добавить">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>