<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Jellyfish</title>
        <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    </head>
    <body>
        <header>
            <a href="../employee/" class="logo">Jellyfish</a>
            <ul>
                <li><a href="/contact/">Contact</a></li>
                <li><a href="../">Exit</a></li>
            </ul>
        </header>
        <section>
            <img src="/static/image/osnova.jpg" alt="" id="osnova">
        </section>

    </body>
</html>