<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Jellyfish</title>
        <link rel="stylesheet" type="text/css" href="/static/CSS/style.css">
    </head>
    <body>
        <header>
            <a href="../manager/" class="logo">Jellyfish</a>
            <ul>
                <li><a href="/customers/">Список клиентов</a></li>
                <li><a href="/contact/">Контакты</a></li>
                <li><a href="../">Выход</a></li>
            </ul>
        </header>
        
        <section>
            <img src="/static/image/osnova.jpg" alt="" id="osnova">
            <h2 class="hello">Добро пожаловать: {{ employee.Name }}</h3>
        </section>
    </body>
</html>